html {
    font-family: 'Baloo Thambi', cursive;
}

body {
    margin: 0;
    background: #A5F2F3;
}

h1 {
    text-align: center;
}

#start {
    margin-top: 50px;
    margin-left: 400px;
    border: blue 4px solid;
    border-radius: 6px;
    padding: 0 100px;
    width: 33.4%;
    background: white;
    color: black;
    text-align: center;
}

#para {
    font-size: 20px;
}

#restart {
    display: none;
    text-align: center;
    font-size: 50px;
}

canvas {
    display: none;
    border: 1px solid black;
    height: 100%;
    width: 100%;
    background-color: whitesmoke;
}

img {
    height: 250px;
    width: 370px;
    transform: translateX(10px);
}